<div *ngIf="listFormations">
  <div class="panel panel-success col-md-6">
    <div class="panel-heading"><b>List des formations </b></div>
    <div class="panel-body">

      <table *ngIf="listFormations" class="table table-striped">
        <thead>
        <tr>
          <th>ID</th> <th>NOM</th> <th>DREE</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let formation of listFormations._embedded.formations">
          <td>{{formation.id}}</td>
          <td>{{formation.nom}}</td>
          <td>{{formation.duree}}</td>
          <td> <button class="btn btn-primary" (click)="delete(formation.id)"><span class="glyphicon glyphicon-trash"></span></button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel panel-success col-md-6">
    <div class="panel-heading"><b>Ajouter en formation </b></div>
    <div class="panel-body">

      <form class="" #addFormation="ngForm"  (ngSubmit)="add(addFormation.value)">


          <div class="form-group col-md-8">
            <label class="col-sm-4 control-label" for="nom">Name:</label>
            <input class="form-control" name="nom" required maxlength="30" type="text" [(ngModel)]="model.nom" #nom="ngModel">
          </div>

          <div class="form-group col-md-8">
            <label class="col-sm-4 control-label" for="duree">Duree:</label>
            <input type="number" class="form-control" name="duree" required max="100" min="1" maxlength="2" [ngModel]="model.duree" #duree="ngModel" >
          </div>
          <div class="form-group col-md-8">
            <div class="col-md-offset-6 col-sm-8">
              <button class="btn btn-success" [disabled]="!addFormation.valid">SAVE</button>
              <button class="btn btn-info" (click)="goBack()" [disabled]="!addFormation.valid">CANCEL</button>

              <div class="alert alert-success alert-dismissible" id="msg1" style="display:none;"></div>
            </div>
           </div>

      </form>
    </div>
  </div>
</div>


